</main>
<footer>

</footer>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script src="catalog/view/javascript/common.js"></script>
{% for script in scripts %}<script src="{{ script }}"></script>{% endfor %}
</body></html>