@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Black.eot');
    src: local('Harmonia Sans Pro Cyr Black'), local('HarmoniaSansProCyr-Black'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldIt.eot');
    src: local('Harmonia Sans Pro Cyr Bold Italic'), local('HarmoniaSansProCyr-BoldIt'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldIt.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldIt.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdIt.eot');
    src: local('Harmonia Sans Pro Cyr Semi Bold Italic'), local('HarmoniaSansProCyr-SemiBdIt'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdIt.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdIt.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdIt.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Light.eot');
    src: local('Harmonia Sans Pro Cyr Light'), local('HarmoniaSansProCyr-Light'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Light.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Light.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BlackIt.eot');
    src: local('Harmonia Sans Pro Cyr Black Italic'), local('HarmoniaSansProCyr-BlackIt'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BlackIt.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BlackIt.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Bold.eot');
    src: local('Harmonia Sans Pro Cyr Bold'), local('HarmoniaSansProCyr-Bold'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-LightIt.eot');
    src: local('Harmonia Sans Pro Cyr Light Italic'), local('HarmoniaSansProCyr-LightIt'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-LightIt.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-LightIt.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-LightIt.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr Cond';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldCond.eot');
    src: local('Harmonia Sans Pro Cyr Bold Cond'), local('HarmoniaSansProCyr-BoldCond'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldCond.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldCond.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Italic.eot');
    src: local('Harmonia Sans Pro Cyr Italic'), local('HarmoniaSansProCyr-Italic'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: local('Harmonia Sans Pro Cyr Semi Bd'), local('HarmoniaSansProCyr-SemiBd'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Regular.eot');
    src: local('Harmonia Sans Pro Cyr'), local('HarmoniaSansProCyr-Regular'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr SemiBdCn';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdCn.eot');
    src: local('Harmonia Sans Pro Cyr Semi Bold Cond'), local('HarmoniaSansProCyr-SemiBdCn'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdCn.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdCn.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdCn.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-SemiBdCn.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr Cond';
    src: url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Cond.eot');
    src: local('Harmonia Sans Pro Cyr Cond'), local('HarmoniaSansProCyr-Cond'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Cond.eot?#iefix') format('embedded-opentype'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Cond.woff2') format('woff2'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Cond.woff') format('woff'),
        url('/catalog/view/theme/default/fonts/HarmoniaSansProCyr-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size: 14px;	
	font-weight: normal;
    font-style: normal;
	font-family: 'Harmonia Sans Pro Cyr';
	margin: 0;
}
* {box-sizing: border-box}
button, input, select {outline: 0}
a {text-decoration: none;transition: .5s ease;animation-play-state: running}
p {margin-bottom: 10px;margin-top:0;}
.flex {    display: flex;    align-items: center;    display: -webkit-box;    display: -moz-box;    display: -ms-flexbox;    display: -webkit-flex;    -webkit-box-align: center;}
.flex2 {    display: flex;    display: -webkit-box;    display: -moz-box;    display: -ms-flexbox;    display: -webkit-flex;}
.wrap {    flex-wrap: wrap;}
.column {    flex-direction: column;}
.jus {    justify-content: space-between;    -webkit-justify-content: space-between;    -webkit-box-pack: justify;}
.flex-right {
    justify-content: flex-end;
}
.alc-right {
    align-content: flex-end;
}
.notul {
	padding: 0;
	margin: 0;
	list-style: none
}
.text-right {
    text-align: right;
}
.col-1 {
	width: 10%
}
.col-2 {
	width: 20%
}
.col-3 {
	width: 30%
}
.col-4 {
	width: 40%
}
.col-5 {
	width: 50%
}
.col-6 {
	width: 60%
}
.col-7 {
	width: 70%
}
.col-8 {
	width: 80%
}
.col-9 {
	width: 90%
}
.col-10 {
	width: 100%
}
/*****************************/
#top {
    background: #bc8f8f;
}
#top-links a {
	position: relative;
	padding: 10px 8px;
    display: inline-block;
	color: #fff;
}
.open {
	font-size: 13px;
    color: #bc8f8f;
    font-weight: bold;
}
.tel {
    font-size: 21px;
    color: #602721;
    font-weight: 600;
}
.tels > div {
    margin-left: 30px;
}
.hids {display: none}
#cart > a {
	position: relative;
	width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #602721;
    color: #602721;
    font-size: 18px;
}
.header {
    padding: 15px 0;
}
.tel:hover {
	color: #bc8f8f;
}
#top-links ul li:last-child a {padding-right: 0 !important}
#cart-total {
    position: absolute;
    bottom: 0px;
    background: #602721;
    color: #fff;
    height: 15px;
    min-width: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 11px;
    border-radius: 50%;
}
#compare_total, #wishlist_total {
    position: absolute;
    top: 7px;
    right: -4px;
    background: #602721;
    color: #fff;
    height: 15px;
    min-width: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 11px;
    border-radius: 50%;
}
#menu {
    background: #602721;
}
.amenu {
    color: #fff;
    padding: 15px 0;
    display: block;
	font-family: 'Harmonia Sans Pro Cyr Semi Bd'
}
#menu a:hover, #top-links a:hover {
    color: #ddd
}
#search {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    width: 235px;
    padding: 8px;
    background: #fff;
    box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.14901960784313725);
}
.form-control {
    padding: 10px;
    border: 1px solid rosybrown;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Harmonia Sans Pro Cyr';
}
#search button {
	background: transparent;
    border: 1px solid rosybrown;
    box-shadow: none;
    outline: none;
    padding: 0 15px;
    height: 40px;
    float: left;
}
#search input {
    float: left;
} 
.open a {color: #602721;display: block;}
#menu ul {position: relative}
.main_menu {
    display: none;
    transition: .5s;
    position: absolute;
    top: 100%;
    background: #fff;
    right: 0;
    left: auto;
	padding: 12px;
}
#menu ul li:hover .main_menu {
	display: flex;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07)
}
main {
    min-height: 450px;
}










@media (min-width: 1199px) {
.container {
    width: 1170px;
	padding: 0 15px;
	margin: 0 auto
}
}